<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Employee.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Employee.WinForm.Properties.Settings>
            <setting name="GoRestApiEndPoint" serializeAs="String">
                <value>https://gorest.co.in/public/v2/</value>
            </setting>
            <setting name="GoRestApiToken" serializeAs="String">
                <value>0bf7fb56e6a27cbcadc402fc2fce8e3aa9ac2b40d4190698eb4e8df9284e2023</value>
            </setting>
        </Employee.WinForm.Properties.Settings>
    </userSettings>
</configuration>